* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  background-color: #090521;
  color: #66eea8;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 3.5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

#language h2 {
  margin-bottom: 0.5em;
}

#language button {
  margin-bottom: 1em;
  margin-right: 0.5em;
}

input {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#background {
  background-image: url(../IMG/pexels-thisisengineering-3861976.jpg);
  width: 40vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
#difficulty {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#start button {
  margin-right: 0.5em;
}

#question {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.contentStyle {
  align-items: center;
}

.btnstyle {
  background-color: #271d66;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-top: 1em;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnstyle:hover,
.btnstyle:focus {
  background-color: #4c66b9;
}

.inputStyle {
  padding: 4px;
  font-size: 18px;
  border-width: 0px;
  border-color: #c9ffd4;
  background-color: #ffffff;
  color: #131133;
  border-style: solid;
  border-radius: 36px;
  box-shadow: 0px 0px 5px rgba(122, 231, 192, 0.75);

  .inputStyle:focus {
    outline: none;
  }
}

#answers p {
  color: white;
  padding: 1em 1em 1em 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  background-color: #403a90;
  border-radius: 100px;
  cursor: pointer;
}

#answers p:hover {
  background-color: #66eea8;
  color: #66eea8;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
}

#send {
  margin-top: 1em;
  margin-bottom: 2em;
}

#displayFlex {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 50vw;
  margin-left: 2em;
  padding-left: 2em;
}

.contentStyle {
  flex: 1;
  padding-right: 20px;
  width: fit-content;
}
